{% extends 'index/main.html' %}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<link rel="stylesheet" href="{% static 'styles/header.css' %}">
<link rel="stylesheet" href="{% static 'styles/companies.css' %}">

{% for company in companies %}
    <section class="product">
        <div class="container">
            <div class="product-show">
                <img src="{{ company.logo.url }}" alt="kfc_img">
                <div class="product-content">
                    <p class="title">{{ company.name }}</p>
                    <div class="rating">
                        {% for i in numbers %}
                        {% if i <= company.rating %}
                            <img src="img/star.png">
                        {% else %}
                            <img src="img/no-star.png">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <p>{{ company.description }}</p>
                    <a href="company.html" class="button">Посмотреть товары</a>
                </div>
            </div>
        </div>
    </section>
{% endfor %}

{% endblock content %}