{% extends 'index/main.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/company.css' %}">


<section class="product">
    <div class="container">
        <div class="product-show">
            <img src="{{ company.logo.url }}">
            <div class="product-content">
                <p class="title">{{ comapny.name }}</p>
                <div class="rating">
                    {% for i in numbers %}
                        {% if i <= company.rating %}
                            <img src="{% static 'img/star.png' %}">
                        {% else %}
                            <img src="{% static 'img/no-star.png' %}">
                        {% endif %}
                    {% endfor %}
                </div>
                <a href="{% url 'companyReview' company.slug %}">Посмотреть отзывы</a>
                <p>{{ company.description }}</p>
            </div>
        </div>
    </div>
</section>
<section class="product-items container">
    {% for product in products %}
    <div class="product-item">
        <p class="heading">{{ product.name }}</p>
        <img src="{{ product.image.url }}">
        <p>{{ product.description }}</p>
        <button>{{ product.price }} тг</button>
    </div>
    {% endfor %}
</section>
{% endblock content %}