{% extends 'index/main.html' %}
{% block content %}

{% load static %}

{% if advertise %}
<div class="content">
        <section class="popular">
            <p class="title fancy-font">Популярные рестораны</p>
            <div class="cards">
                {% for ad in advertise %}
                    <div class="card">
                        <a href="{% url 'company' ad.company.slug %}"><img src="{{ ad.company.logo_min.url }}">
                        <p>{{ ad.company.name }}</p></a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endif %}
<section class="country">
    <div class="container">
    <p class="title fancy-font">Выбери свой город!</p>
    <div class="countries">
        <span>Алмата</span>
        <span>Астана</span>
        <span>Ташкент</span>
        <span>Алмата</span>
        <span>Астана</span>
        <span>Ташкент</span>
        <span>Москва</span>
    </div>
    </div>
</section>
<section class="guarantees">
    <p class="title fancy-font">Мы гарантируем: </p>
    <div class="guarantee-cards first">
        {% for guarantee in guarantees %}
            <div class="guarantee-card">
                <img src="{{ guarantee.image.url }}" alt="img">
                <p>{{ guarantee.text }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="company-button">
        <a href="company.html">Взять заказ</a>
    </div>
</section>

{% endblock content %}