{% extends 'main.html' %}
{% block content %}

<div class="content">
    <section class="popular">
        <p class="title fancy-font">Популярные рестораны</p>
        <div class="cards">
            <div class="card">
                <a href="company.html"><img src="img/companies/kfc-logo.png" alt="kfc_img">
                <p>KFC</p></a>
            </div>
            <div class="card">
                <a href="company.html"><img src="img/companies/Burger-King-logo.png" alt="kfc_img">
                <p>Burger king</p>
            </div>
            <div class="card">
                <a href="company.html"><img src="img/companies/gippo.png" alt="kfc_img">
                <p>Gippo</p>
            </div>
            <div class="card">
                <a href="company.html"><img src="img/companies/Hardees-logo.png" alt="kfc_img">
                <p>Hardees</p></a>
            </div>
        </div>
    </section>
</div>
<section class="country">
    <div class="container">
    <p class="title fancy-font">Выбери свой город!</p>
    <div class="countries">
        <span>Алмата</span>
        <span>Астана</span>
        <span>Ташкент</span>
        <span>Алмата</span>
        <span>Астана</span>
        <span>Ташкент</span>
        <span>Москва</span>
    </div>
    </div>
</section>
<section class="guarantees">
    <p class="title fancy-font">Мы гарантируем: </p>
    <div class="guarantee-cards first">
        {% for guarantee in guarantees %}
            <div class="guarantee-card">
                <img src="{{ guarantee.image.url }}" alt="img">
                <p>{{ guarantee.text }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="company-button">
        <a href="company.html">Взять заказ</a>
    </div>
</section>

{% endblock content %}