{% extends 'index/main.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/review.css' %}">
    <div class="content" style="background-color: white; padding-top: 3em;">
        {% if reviews %}
        <h1 class="title fancy-font">Отзывы о компании {{ company.name }}</h1>
        <div style="width: 80%;">
            {% for review in reviews %}
                <div class="review-box" style="margin-left: 20%;">
                    <p style="font-weight: 900;">{{ review.profile.username }}</p>
                    {% for i in numbers %}
                        {% if i <= review.stars %}
                            <img style="width: 15px;" src="{% static 'img/star.png' %}">
                        {% else %}
                            <img style="width: 15px;" src="{% static 'img/no-star.png' %}">
                        {% endif %}
                    {% endfor %}
                    <p>{{ review.text }}</p>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if userReview is None %}

        <h1 class="title fancy-font">Знаешь место?<br>
            Напиши свой комментарий!</h1>
        <form method="post">
            <div style="display: flex; flex-direction:column" class="mb-4">
                {% csrf_token %}
                <div class="box">
                    <input name="stars" type="number" placeholder="1 - 5">
                    <textarea name="comment" id="comment" placeholder="Напишите отзыв"></textarea>
                    <div class="flex-end">
                        <button type="submit" class="noselect">Оценить</button>
                    </div>
                </div>
            </div>
        </form>
        {% else %}
            <h1  class="title fancy-font mt-4">Вы уже оценили эту компанию</h1>
        {% endif %}
    </div>
{% endblock content %}