{% extends 'admin/main.html' %}
{% block content %}

{% load static %}

<section class="container" style="margin-top: 25px;">
    <p class="title fancy-font center">{{ company.name }}</p>
    <p class="title fancy-font center">Ваши товары</p>
    <a href="{% url 'createProduct' %}" class="btn-new">Добавить товар</a>
    {% if products %}
    <table class="products">
          <tr class="product">
            <th class="tb-name">Название</th>
            <th class="tb-price">Цена</th>
            <th class="tb-price">Цена со кидкой</th>
            <th class="tb-category">Категория</th>
            <th class="tb-action">Действия</th>
          </tr>
          {% for product in products %}
            <tr class="product">
              <td class="tb-name">{{ product.name }}</td>
              <td class="tb-price">{{ product.price }}</td>
              {% if product.new_price %}
                <td class="tb-price">{{ product.new_price }}</td>
              {% else %}
                <td class="tb-price"></td>
              {% endif %}
              <td class="tb-category">{{ product.category }}</td>
              <td class="tb-action">
                  <div>
                      <a class="edit" href="{% url 'updateProduct' product.id %}">Изменить</a>
                      <a class="delete" href="#">Удалить</a>
                  </div>
              </td>
            </tr>
          {% endfor %}
      </table>
      {% else %}
      <h1 style="text-align: center; margin-top: 25px;">Товаров нет...</h1>
      {% endif %}
</section>
{% endblock content %}