{% extends 'admin/main.html' %}
{% block content %}

{% load static %}

<section class="container">
    <p class="title fancy-font center">{{ company.name }}</p>
    <p class="title fancy-font center">Ваши товары</p>
    <a href="{% url 'createProduct' %}" class="btn-new">Добавить товар</a>
    <table class="products">
        <thead>
          <tr class="product">
            <th class="tb-name">Название</th>
            <th class="tb-category">Категория</th>
            <th class="tb-action">Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr class="product">
              <td class="tb-name">{{ product.name }}</td>
              <td class="tb-category">Бургер</td>
              <td class="tb-action">
                  <div>
                      <a class="edit" href="admin-product-edit.html">Изменить</a>
                      <a class="delete" href="#">Удалить</a>
                  </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</section>
{% endblock content %}