form {
    padding: 15px 0;
}
.product-add {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
}
input {
    margin-top: 15px;
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}
textarea {
    width: 95%;
    padding: 5px 10px;
    border-radius: 5px;
    resize: none;
    border: 1px solid rgba(0,0,0,0.2);
}
.form-container {
    margin-left: 2.5%;
}
.form-container input {
    margin-top: 10px;
}
form p, .edit {
    margin-top: 15px;
    margin-bottom: 3px;
}